<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MediaMinistry.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Media_Ministry.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MediaMinistry.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MediaMinistry.MySettings.masterConnectionString" connectionString="Data Source=mediaministry.database.windows.net;Initial Catalog=&quot;Media Ministry&quot;;User ID=arandlemiller97;Connect Timeout=30;Encrypt=True;Authentication=&quot;Sql Password&quot;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <MediaMinistry.MySettings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="KeepLoggedIn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AdminUser" serializeAs="String">
                <value />
            </setting>
            <setting name="AdminPass" serializeAs="String">
                <value />
            </setting>
            <setting name="AdminInfoRecieved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CurrentFont" serializeAs="String">
                <value>Microsoft Sans Serif, 15.75pt, style=Bold</value>
            </setting>
            <setting name="customMessageBody" serializeAs="String">
                <value />
            </setting>
            <setting name="customMessageSubject" serializeAs="String">
                <value />
            </setting>
        </MediaMinistry.MySettings>
        <Media_Ministry.My.MySettings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="KeepLoggedIn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AdminUser" serializeAs="String">
                <value />
            </setting>
            <setting name="AdminPass" serializeAs="String">
                <value />
            </setting>
            <setting name="AdminInfoRecieved" serializeAs="String">
                <value>False</value>
            </setting>
        </Media_Ministry.My.MySettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.6.0" newVersion="1.8.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.45.0.0" newVersion="1.45.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.1.9" newVersion="1.3.1.9" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.3.1.9" newVersion="1.3.1.9"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.3.1.9" newVersion="1.3.1.9"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <MediaMinistry.MySettings>
      <setting name="DefaultFont" serializeAs="String">
        <value>Microsoft Sans Serif, 15.75pt, style=Bold</value>
      </setting>
    </MediaMinistry.MySettings>
  </applicationSettings>
</configuration>
