<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.5" targetFramework="net461" />
  <package id="Google.Apis" version="1.44.0" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.44.0" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.44.0" targetFramework="net461" />
  <package id="Google.Apis.Drive.v3" version="1.44.0.1876" targetFramework="net461" />
  <package id="Google.Apis.Gmail.v1" version="1.44.0.1859" targetFramework="net461" />
  <package id="MailKit" version="2.5.1" targetFramework="net461" />
  <package id="MimeKit" version="2.5.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="System.Data.SqlClient" version="4.8.1" targetFramework="net461" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net461" />
  <package id="UrlBase64" version="0.1.2" targetFramework="net461" />
</packages>